.addUserForm {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-weight: 700;
}

.addUserFormLabel {
  width: 100%;
  margin: 0.3125rem 0;
  display: inline-block;
}

.addUserFormInput {
  width: 100%;
  margin: 0.3125rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.addUserFormSubmitButton {
  width: 20%;
  background-color: #40005d;
  border: 1px solid #40005d;
  color: white;
  padding: 0.625rem;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  font-size: 100%;
}

.addUserFormSubmitButton:hover {
  background-color: #510674;
  border-color: #510674;
}

@media screen and (max-width: 63em) {
  .addUserFormSubmitButton {
    width: 100%;
  }
}
